@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px;
  margin: 30px auto;
  max-width: 1280px;
  width: 100%;
  height: 48px;
}

.nav a .logo {
  width: 36px;
  height: 36px;
  object-fit: cover;
}

.user-info ul {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.user-info ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.user-info img.notification {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.user-info img.profile {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.user-info .username {
  font-size: 18px;
  font-weight: 500;
  color: #293038;
}

.user-info .arrow {
  width: 24px;
  height: 24px;
}

/* main */
.container {
  background-color: #ffffff;
  max-width: 800px;
  height: 730px;
  margin: 40px;
  border-radius: 12px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 0px 16px 90px 0px #13073414;
}

section {
  max-width: 720px;
  height: 630px;
  position: relative;
}

.section-container {
  max-width: 720px;
  height: 292px;
}

.section-container .title {
  color: #ff5f26;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.container-todo {
  display: flex;
  justify-content: space-between;
}

.container-todo .todolist .main-title {
  font-size: 24px;
  font-weight: 500;
  color: #293038;
  margin-bottom: 10px;
}

.container-todo .todolist .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #7a7f83;
}

.addtask .add-btn {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  background-color: #ff5f26;
  gap: 8px;
  border-radius: 60px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  cursor: pointer;
}

.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
}

.sort p {
  font-size: 16px;
  font-weight: 500;
  color: #7a7f83;
}

.sort button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #ff5f26;
  border-radius: 50px;
  border: 1px solid #ff5f26;
  padding: 10px 14px;
  gap: 10px;
}

.container-subtask {
  background-color: #f5f5f5;
  max-width: 720px;
  height: 245px;
  margin-top: 16px;
  border-radius: 8px;
  padding: 16px;
}

.container-subtask .subtask {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtask p {
  font-size: 16px;
  font-weight: 500;
  color: #293038;
}

.subtask button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 10px;
  border: 1px solid #ccced2;
  background-color: #ffffff;
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  color: #ff5f26;
}

.subtask button img {
  width: 22px;
  height: 22px;
}

.container-edit {
  width: 189px;
  height: 108px;
  background: #ffffff;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #ccced2;
  position: absolute;
  left: 269px;
  top: 220px;
}

.container-edit .edit-task {
  width: 141px;
  height: 60px;
}

.rename-task img {
  margin-bottom: 12px;
}

.rename-task img,
.delete-task img {
  width: 24px;
  height: 24px;
}

.rename-task,
.delete-task {
  display: flex;
  gap: 12px;
}

.rename-task span,
.delete-task span {
  font-size: 16px;
  font-weight: 400;
  color: #293038;
}

.task {
  margin-top: 14px;
  display: flex;
  gap: 10px;
}

.task .arrow {
  margin-left: auto;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.task-name-row {
  display: flex;
  flex-direction: row;
}

.task-name {
  display: flex;
  flex-direction: row;
}

.task-name .task-label,
.task-name-row .task-label {
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  color: #293028;
}

.task-name .badge,
.task-name-row .badge {
  margin-left: 16px;
  padding: 8px 12px;
  font-size: 12px;
  font-weight: 500;
  color: #ff5f26;
  background-color: #ffebd3;
  border-radius: 50px;
}

.task-name img,
.task-name-row img {
  width: 24px;
  height: 24px;
  margin-left: 7px;
}

.task .note {
  font-size: 14px;
  font-weight: 400;
  color: #7a7f83;
  margin-top: 10px;
}

.task .checkbox {
  width: 28px;
  height: 28px;
  border: 1px solid #ccced2;
  border-radius: 100%;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + .checkbox {
  background-color: #ff5f26;
  border-color: #ff5f26;
}

input[type="checkbox"]:checked + .checkbox span {
  width: 18px; 
  height: 18px;
  background-color: white;
  -webkit-mask: url(/assets/checkmark-outline.svg) no-repeat center / contain;
  mask: url(/assets/checkmark-outline.svg) no-repeat center / contain;
}

input[type="checkbox"]:checked ~ .subtask-label {
  text-decoration: line-through;
}

.line {
  border: 1px solid #ccced2;
  max-width: 720px;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
}

.end {
  position: absolute;
  bottom: -40px;
  display: flex;
}

.end p {
  font-size: 18px;
  font-weight: 500;
  color: #7a7f83;
}

@media (max-width: 768px) {
  body {
    padding: 15px;
  }

  nav {
    padding: 12px 4px;
    margin-bottom: 20px;
    margin: 0 auto;
    width: 100%;
  }

  .user-info .username {
    display: none;
  }

  .user-info ul {
    gap: 8px;
  }

  .container {
    height: 800px;
    padding: 20px;
    border-radius: 8px;
  }

  .container-todo {
    flex-direction: column;
    gap: 15px;
  }

  .container-todo .todolist .main-title {
    font-size: 22px;
  }

  .container-todo .todolist .subtitle {
    font-size: 14px;
  }

  .addtask {
    flex-direction: column;
    align-items: start;
  }

  .addtask .add-btn {
    padding: 10px 12px;
    font-size: 14px;
  }

  .sort {
    margin-top: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .sort p {
    font-size: 14px;
  }

  .sort button {
    font-size: 12px;
    padding: 8px 12px;
  }
  .container-edit {
    width: 120px;
    height: 65px;
    left: 250px;
    top: 300px;
    padding: 8px;
  }

  .container-edit .edit-task {
    width: 100px;
    height: 55px;
  }

  .rename-task img,
  .delete-task img {
    width: 17px;
    height: 17px;
  }

  .rename-task span,
  .delete-task span {
    font-size: 10px;
  }

  .task .arrow {
    justify-content: end;
  }

  .task .task-label {
    font-size: 16px;
  }

  .container-subtask {
    width: 100%;
  }

  .subtask button {
    padding: 6px 10px;
    font-size: 10px;
    font-weight: 600;
    gap: 5px;
  }

  .subtask button img {
    width: 15px;
    height: 15px;
  }

  .end p {
    font-size: 16px;
  }

  .line {
    bottom: -95px;
    width: 768;
  }

  .end {
    bottom: -135px;
  }
}

@media (max-width: 600px) {
  .addtask .add-btn {
    width: 100%;
    justify-content: center;
    font-size: 13px;
    padding: 10px 15px;
  }
  .task-name {
    flex-direction: column;
  }

  .task-name .badge {
    padding: 4px 8px;
    font-size: 10px;
    max-width: fit-content;
    margin-left: 0;
  }

  .task-name-row .badge {
    padding: 4px 8px;
    font-size: 10px;
    max-width: fit-content;
    margin-left: 4px;
  }

  .task-name-row img {
    width: 20px;
    height: 20px;
  }

  .sort {
    flex-direction: row;
    justify-content: space-between;
  }

  .container-edit {
    left: 220px;
    top: 260px;
  }
}
